body {
    background-color: #efefef;
    color: #efefef;
    text-align: center;
}

.work {
    margin-top: 30px;
    border-radius: 12px;
    background-color: #36CC7C;
    box-shadow: 1px 1px 12px #444444;
}

.break {
    margin-top: 30px;
    border-radius: 12px;
    background-color: #E05858;
    box-shadow: 1px 1px 12px #444444;
}

.minutes {
    font-size: 8em;
    font-weight: 500;
}

.seconds {
    font-size: 3em;
}

.work p {
    display: inline;
}

.break p {
    display: inline;
}

.input {
    cursor: pointer;
    padding-top: 50px;
    font-size: 3em;
}

.minus {
    float: left;
}

.plus {
    float: right;
}

.start-stop {
    margin-top: 30px;
    height: 60px;
    border-radius: 12px;
    background-color: #72D4DF;
    box-shadow: 1px 1px 12px #444444;
}

.start-stop i {
    padding-top: 16px;
    cursor: pointer;
}

.fa-trash {
    float: left;
}

.fa-check {
    float: right;
}

.footer p {
    position: fixed;
    left: 12px;
    bottom: 0px;
    color: #555;
}